<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BluetoothControll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E768FBF61D13D3EF0078E79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E768FC0A1D13D3F10078E79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E768FC151D13D3F10078E79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
